<h2>The logger</h2>

<p>
    Number of attempts: <strong>{{ total }}</strong>
    with <strong>{{ rightGuesses }}</strong> correct guesses.
</p>

<h3>Last 10 attempts</h3>

<table>
    <thead>
        <tr>
            <th>Min</th>
            <th>Max</th>
            <th>Success</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let guess of guesses">
            <td class='right'>{{ guess.min }}</td>
            <td class='right'>{{ guess.max }}</td>
            <td class='center'>{{ guess.success ? "YES!" : "nope" }}</td>
            <td>{{ guess.timestamp | date:"H:m:s d-M-y" }}</td>
        </tr>
    </tbody>
</table>