<h2>The logger</h2>

<p>
    Number of attempts: <strong>34</strong>
    with <strong>12</strong> correct guesses.
</p>

<h3>Last 10 attempts</h3>

<table>
    <thead>
        <tr>
            <th>Min</th>
            <th>Max</th>
            <th>Success</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class='right'>10</td>
            <td class='right'>49</td>
            <td class='center'>YES</td>
            <td>2017-01-01 15:55</td>
        </tr>
    </tbody>
</table>